Repository b0ho/glimpse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/payments, @glimpse-team/security, @glimpse-team/dba, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/frontend, @glimpse-team/devops, @glimpse-team/documentation, @glimpse-team/qa

fix: 스토리 및 콘텐츠 관련 API 개선
  mobile/services/api/contentApi.ts
  mobile/utils/mockData.ts
Owners: @glimpse-team/mobile

fix: 개발 환경 API 설정 포트 변경
  mobile/.env
  mobile/services/api/config.ts
Owners: @glimpse-team/mobile

feat: 다국어 지원 콘텐츠 및 설정 개선
  mobile/locales/en/common.json
  mobile/services/i18n/i18n.ts
  mobile/utils/mockData/englishData.ts
Owners: @glimpse-team/mobile

feat: 채팅 시스템 개선 및 간소화
  mobile/screens/ChatScreen.tsx
  mobile/screens/ChatScreenSimple.tsx
  mobile/services/chat/chatService.ts
  mobile/store/slices/chatSlice.ts
Owners: @glimpse-team/mobile

feat: 그룹 기능 개선 및 사용자 경험 향상
  mobile/screens/CreateGroupScreen.tsx
  mobile/screens/GroupsScreen.tsx
  mobile/services/api/groupApi.ts
Owners: @glimpse-team/mobile

feat: 사용자 프로필 및 매칭 시스템 개선
  mobile/screens/ProfileSettingsScreen.tsx
  mobile/services/api/matchApi.ts
  mobile/store/slices/authSlice.ts
  shared/types/index.ts
Owners: @glimpse-team/mobile, @glimpse-team/core-developers

feat: 관리자 대시보드 완전한 구현 및 루트 페이지 통합
  README.md
  admin/server.js
  admin/src/app/admin/groups/page.tsx
  admin/src/app/admin/page.tsx
  admin/src/app/admin/posts/page.tsx
  admin/src/app/admin/stories/page.tsx
  admin/src/app/admin/users/page.tsx
  admin/src/app/api/admin/login/route.ts
  admin/src/app/page.tsx
  admin/src/components/admin/AdminLayout.tsx
  scripts/start-admin.sh
  scripts/start-all.sh
Owners: @glimpse-team/documentation, @glimpse-team/core-developers

feat: 랜딩페이지 화려한 디자인 완성 및 React 호환성 개선
  package-lock.json
  web/src/App.tsx
  web/src/index.css
Owners: @glimpse-team/core-developers, @glimpse-team/frontend

feat: 모바일 앱 주요 기능 개선 및 관심상대 찾기 시스템 구현
  mobile/components/interest/InterestCard.tsx
  mobile/components/interest/InterestEmptyState.tsx
  mobile/components/settings/LanguageSelector.tsx
  mobile/components/settings/ThemeSelector.tsx
  mobile/navigation/AppNavigator.tsx
  mobile/screens/AddInterestScreen.tsx
  mobile/screens/ChatScreenSimple.tsx
  mobile/screens/CreateGroupScreen.tsx
  mobile/screens/GroupDetailScreen.tsx
  mobile/screens/GroupsScreen.tsx
  mobile/screens/HomeScreen.tsx
  mobile/screens/InterestSearchScreen.tsx
  mobile/screens/JoinGroupScreen.tsx
  mobile/screens/MatchChatListScreen.tsx
  mobile/screens/MatchesScreen.tsx
  mobile/screens/MyInfoScreen.tsx
  mobile/screens/ProfileScreen.tsx
  mobile/store/slices/groupSlice.ts
  mobile/store/slices/interestSlice.ts
  mobile/test.spec.ts
  mobile/types/interest.ts
  mobile/utils/mockData.ts
  server/prisma/schema.prisma
  server/src/app.module.ts
  server/src/interest/dto/interest.dto.ts
  server/src/interest/interest.controller.ts
  server/src/interest/interest.module.ts
  server/src/interest/interest.service.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/qa, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend

feat: 모바일 앱 주요 기능 완성 및 서버 E2E 테스트 시스템 구축
  server/e2e/api-tests.spec.ts
  server/e2e/mobile-app.spec.ts
  server/package.json
  server/playwright.config.ts
  server/prisma/schema.prisma
  server/prisma/seed-extended.ts
  server/prisma/seed-test.ts
  server/prisma/seed.ts
  server/src/app.module.ts
  server/src/auth/decorators/current-user.decorator.ts
  server/src/auth/guards/test-auth.guard.ts
  server/src/chat/chat.controller.ts
  server/src/group/group.controller.ts
  server/src/group/group.service.ts
  server/src/interest/interest.controller.ts
  server/src/interest/interest.service.ts
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
  server/src/payment/payment.controller.ts
  server/tsconfig.json
  shared/types/index.ts
Owners: @glimpse-team/qa, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/core-developers

feat: 모바일 앱 UI/UX 개선 및 새로운 화면 추가
  mobile/components/ContentItem.tsx
  mobile/navigation/AppNavigator.tsx
  mobile/package.json
  mobile/screens/GroupDetailScreen.tsx
  mobile/screens/GroupsScreen.tsx
  mobile/screens/HomeScreen.tsx
  mobile/screens/JoinGroupScreen.tsx
  mobile/screens/MatchChatListScreen.tsx
  mobile/screens/NearbyGroupsScreen.tsx
  mobile/screens/NearbyUsersScreen.tsx
  mobile/screens/OnboardingScreen.tsx
  mobile/screens/PostDetailScreen.tsx
  mobile/screens/PrivacyPolicyScreen.tsx
  mobile/screens/ProfileModeScreen.tsx
  mobile/screens/ProfileScreen.tsx
  mobile/screens/SupportScreen.tsx
  mobile/screens/TermsOfServiceScreen.tsx
  mobile/store/slices/groupSlice.ts
  mobile/store/slices/likeSlice.ts
  package-lock.json
  package.json
Owners: @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/core-developers

fix: Vercel 배포 시 npm 의존성 충돌 해결
  admin/vercel.json
  mobile/vercel.json
  server/vercel.json
Owners: @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/backend

fix: Next.js 빌드 에러 해결 (critters 모듈 관련)
  admin/next.config.ts
  admin/package-lock.json
Owners: @glimpse-team/core-developers

feat: Vercel 빌드 시 자동 DB 마이그레이션 설정
  admin/package.json
  admin/vercel.json
  server/package.json
  server/vercel.json
Owners: @glimpse-team/core-developers, @glimpse-team/backend

refactor: 로컬 개발 환경 스크립트 개선 및 Vercel secrets 제거
  admin/package-lock.json
  admin/package.json
  admin/src/app/api/users/me/route.ts
  admin/src/app/api/users/route.ts
  admin/vercel.json
  scripts/init-local-dev.sh
  scripts/production-deploy.sh
  scripts/start-local-dev.sh
  server/vercel.json
Owners: @glimpse-team/core-developers, @glimpse-team/backend

fix: Expo 빌드 명령어 업데이트 (export:web → export --platform web)
  mobile/vercel.json
Owners: @glimpse-team/mobile

fix: Vercel 서버 배포 404 에러 해결
  server/api/index.ts
  server/package.json
  server/vercel.json
Owners: @glimpse-team/backend

chore: Dependabot 설정 제거
  .github/dependabot.yml
Owners: @glimpse-team/devops

feat: 프로필 화면에 운영자의 편지 기능 추가
  CLAUDE.md
  mobile/components/profile/LetterFromFounder.tsx
  mobile/locales/en/common.json
  mobile/locales/en/profile.json
  mobile/locales/ko/common.json
  mobile/locales/ko/profile.json
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/ProfileScreen.tsx
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/ux

feat: 페르소나 기능 백엔드 구현
  server/prisma/schema.prisma
  server/src/app.module.ts
  server/src/location/location.service.ts
  server/src/persona/dto/persona.dto.ts
  server/src/persona/persona.controller.ts
  server/src/persona/persona.module.ts
  server/src/persona/persona.service.ts
Owners: @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend

feat: 페르소나 기능 완성 및 UI/UX 개선
  mobile/components/persona/PersonaSettingsModal.tsx
  mobile/locales/en/persona.json
  mobile/locales/ko/home.json
  mobile/locales/ko/persona.json
  mobile/screens/HomeScreen.tsx
  mobile/screens/NearbyUsersScreen.tsx
  mobile/services/api/personaApi.ts
  mobile/services/i18n/i18n.ts
  mobile/services/locationTracker.ts
  mobile/store/slices/personaSlice.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux

feat: 개발 환경 Mock 데이터 제거 및 실제 DB 연동 구현
  mobile/services/payment/premium-service.ts
  mobile/shared/types/index.ts
  mobile/store/slices/interestSlice.ts
  server/prisma/migrations/20250118_add_premium_level/migration.sql
  server/prisma/schema.prisma
  server/src/interest/interest.service.ts
Owners: @glimpse-team/payments, @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend

feat: Supabase + Vercel 배포 환경 구성 완료
  SUPABASE_SETUP.md
  server/package.json
  server/prisma/schema.prisma
  server/src/app.module.ts
  server/src/core/prisma/prisma.service.ts
  server/src/health/health.controller.ts
  server/src/health/health.module.ts
  server/src/main.ts
  server/vercel.json
Owners: @glimpse-team/documentation, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba

fix: Vercel 404 에러 수정 - NestJS 서버리스 어댑터 구현
  server/api/index.ts
  server/package.json
  server/vercel.json
Owners: @glimpse-team/backend

fix: TypeScript 타입 에러 수정 및 typecheck 스크립트 추가
  server/package.json
  server/src/core/prisma/prisma.service.ts
  server/src/health/health.controller.ts
Owners: @glimpse-team/backend

fix: Vercel 설정 에러 수정 - functions와 builds 속성 충돌 해결
  server/vercel.json
Owners: @glimpse-team/backend

fix: Vercel 빌드 실패 수정 - DIRECT_URL 환경변수 에러 해결
  SUPABASE_SETUP.md
  server/package.json
  server/prisma/schema.prisma
Owners: @glimpse-team/documentation, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba

fix: Vercel 404 에러 최종 해결 - 간소화된 서버리스 구조로 변경
  server/api/health.ts
  server/api/index.ts
  server/vercel.json
Owners: @glimpse-team/backend

fix: Vercel 런타임 에러 해결 - vercel.json 제거하고 자동 감지 사용
  server/vercel.json
Owners: @glimpse-team/backend

fix: Vercel public 디렉토리 누락 에러 해결
  server/public/index.html
  server/vercel.json
Owners: @glimpse-team/backend

feat: Supabase 데이터베이스 연결 및 Vercel 배포 최적화 구현
  server/.env.supabase
  server/api/db-migrate.ts
  server/package.json
  server/scripts/deploy-db.js
Owners: @glimpse-team/backend

feat: Supabase 설정 가이드 및 Mobile API 테스트 컴포넌트 추가
  SUPABASE_SETUP_GUIDE.md
  mobile/components/ApiTestComponent.tsx
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/ux

feat: Mobile 앱 API 연결 구성 완료
  mobile/screens/HomeScreen.tsx
  mobile/services/api/config.ts
Owners: @glimpse-team/mobile

feat: Vercel 서버리스 환경용 Supabase 연동 API 구현
  server/api/db-status.ts
  server/api/groups.ts
Owners: @glimpse-team/backend

feat: Supabase 마이그레이션 도구 및 완전 설정 가이드 추가
  VERCEL_SUPABASE_SETUP.md
  migrate-to-supabase.js
Owners: @glimpse-team/documentation, @glimpse-team/core-developers

feat: 향상된 API 테스트 및 Supabase 마이그레이션 도구 완성
  migrate-to-supabase.js
  mobile/components/ApiTestComponent.tsx
  run-supabase-migration.sh
  server/.env.supabase.example
Owners: @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/backend

Railway PostgreSQL 설정 완료 및 API 최적화
  DATABASE_COMPARISON.md
  RAILWAY_SETUP_GUIDE.md
  SUPABASE_SETUP_GUIDE.md
  VERCEL_SUPABASE_SETUP.md
  migrate-to-supabase.js
  server/.env.railway.example
  server/.env.supabase
  server/api/db-status.ts
  server/api/groups.ts
  setup-railway.sh
Owners: @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/backend

Railway PostgreSQL 연결 완료 및 감지 로직 개선
  server/api/db-status.ts
  server/api/groups.ts
Owners: @glimpse-team/backend

Supabase 모든 흔적 제거 완료
  server/.env.supabase.example
  server/api/db-status.ts
  server/public/index.html
Owners: @glimpse-team/backend

feat: Railway PostgreSQL 완전 통합 및 보안 강화
  RAILWAY_URL_FIX.md
  RAILWAY_VERCEL_ENV_GUIDE.md
  migrate-to-railway.sh
  server/README.md
  server/prisma/seed-railway-quick.ts
  test-railway-connection.sh
Owners: @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/backend-senior, @glimpse-team/dba

.github/CODEOWNERS:

# Code Owners for Glimpse Monorepo
# These owners will be the default owners for everything in the repo.

# Global Owners
* @glimpse-team/core-developers

# Backend
/server/ @glimpse-team/backend
/server/src/controllers/ @glimpse-team/backend-senior
/server/src/services/PaymentService.ts @glimpse-team/payments @glimpse-team/security
/server/src/services/AuthService.ts @glimpse-team/security
/server/src/services/EncryptionService.ts @glimpse-team/security
/server/prisma/ @glimpse-team/backend-senior @glimpse-team/dba

# Frontend - Mobile
/mobile/ @glimpse-team/mobile
/mobile/components/ @glimpse-team/mobile @glimpse-team/ux
/mobile/screens/ @glimpse-team/mobile
/mobile/services/payment/ @glimpse-team/payments @glimpse-team/mobile

# Frontend - Web
/web/ @glimpse-team/frontend
/web/components/ @glimpse-team/frontend @glimpse-team/ux
/web/pages/api/ @glimpse-team/backend

# Shared
/shared/ @glimpse-team/core-developers
/shared/types/ @glimpse-team/core-developers

# Infrastructure
/docker-compose*.yml @glimpse-team/devops
/Dockerfile @glimpse-team/devops
/.github/ @glimpse-team/devops
/nginx/ @glimpse-team/devops @glimpse-team/security
/monitoring/ @glimpse-team/devops
/backup/ @glimpse-team/devops @glimpse-team/dba

# Security
/.env* @glimpse-team/security
/server/src/middleware/auth.ts @glimpse-team/security
/server/src/middleware/rateLimiter.ts @glimpse-team/security
/server/src/utils/validationSchemas.ts @glimpse-team/security

# Documentation
*.md @glimpse-team/documentation
/docs/ @glimpse-team/documentation

# Tests
/tests/ @glimpse-team/qa
*.test.ts @glimpse-team/qa
*.spec.ts @glimpse-team/qa
