Repository b0ho/glimpse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/payments, @glimpse-team/security, @glimpse-team/dba, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/frontend, @glimpse-team/devops, @glimpse-team/documentation, @glimpse-team/qa

feat: Railway 풀버전 시드 스크립트 추가
  server/prisma/seed-railway.ts
Owners: @glimpse-team/backend-senior, @glimpse-team/dba

docs: Railway 운영환경 완전 가동 및 상태 문서화
  server/README.md
Owners: @glimpse-team/documentation

fix: Vercel 프로덕션에서 실제 API 사용하도록 수정
  mobile/services/api/groupApi.ts
Owners: @glimpse-team/mobile

feat: API v1 엔드포인트 추가
  server/api/v1/contents.ts
  server/api/v1/db-migrate.ts
  server/api/v1/db-status.ts
  server/api/v1/groups.ts
  server/api/v1/health.ts
  server/api/v1/index.ts
  server/api/v1/likes.ts
  server/api/v1/likes/check/[userId].ts
  server/api/v1/likes/received.ts
  server/api/v1/likes/sent.ts
  server/api/v1/likes/status.ts
  server/api/v1/matching.ts
  server/api/v1/matching/matches.ts
  server/api/v1/matching/recommendations.ts
Owners: @glimpse-team/backend

feat: API v1 라우팅을 위한 Vercel rewrites 설정 추가
  server/vercel.json
Owners: @glimpse-team/backend

fix: 모바일 API 연동 개선 - 실제 서버 API 사용으로 전환
  mobile/services/api/config.ts
  mobile/services/api/contentApi.ts
  mobile/services/api/matchApi.ts
Owners: @glimpse-team/mobile

fix: 모바일 API를 /api/v1 경로로 수정 - 사용자 요구사항 반영
  mobile/services/api/config.ts
Owners: @glimpse-team/mobile

feat: mock 데이터 완전 제거 - 실제 데이터베이스 연동으로 전환
  mobile/services/api/contentApi.ts
  mobile/services/api/groupApi.ts
  mobile/services/api/matchApi.ts
Owners: @glimpse-team/mobile

feat: mockData 완전 제거 및 풍부한 DB 시드 스크립트 완성
  mobile/utils/mockData.ts
  mobile/utils/mockData/englishData.ts
  server/package.json
  server/prisma/seed-local.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba

feat: 로컬/Railway 시드 데이터 통합 및 커밋 정책 명시
  server/package.json
  server/prisma/seed-local-simple.ts
  server/prisma/seed-local-unified.ts
Owners: @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba

fix: ESLint 오류 근본적 해결 및 커밋 전 검증 프로세스 완성
  server/eslint.config.mjs
  server/src/app.module.ts
  server/src/auth/decorators/current-user.decorator.ts
  server/src/auth/guards/test-auth.guard.ts
  server/src/chat/chat.controller.ts
  server/src/core/prisma/prisma.service.ts
  server/src/health/health.controller.ts
  server/src/health/health.module.ts
  server/src/i18n/i18n.config.ts
  server/src/i18n/i18n.decorator.ts
  server/src/interest/dto/interest.dto.ts
  server/src/interest/interest.controller.ts
  server/src/interest/interest.module.ts
  server/src/interest/interest.service.ts
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
  server/src/main.ts
  server/src/persona/dto/persona.dto.ts
  server/src/persona/persona.controller.ts
  server/src/persona/persona.module.ts
  server/src/persona/persona.service.ts
  server/src/scripts/seed-english-data.ts
  server/src/user/user.controller.ts
  server/tsconfig.json
Owners: @glimpse-team/backend

docs: CLAUDE.md 커밋 전 검증 프로세스 문서화 완성
  CLAUDE.md
Owners: @glimpse-team/documentation

feat: mockData 완전 제거 및 실제 서버 API 연동 완료
  mobile/screens/ChatScreenSimple.tsx
  mobile/services/chat/chatService.ts
  mobile/store/slices/likeSlice.ts
Owners: @glimpse-team/mobile

fix: health.controller.ts 타입 오류 수정 - Vercel 빌드 오류 해결
  server/src/health/health.controller.ts
Owners: @glimpse-team/backend

fix: Vercel Hobby 플랜 12개 함수 제한 해결
  server/api/db-migrate.ts
  server/api/db-status.ts
  server/api/groups.ts
  server/api/health.ts
  server/api/index.ts
  server/api/v1/db-migrate.ts
  server/api/v1/db-status.ts
  server/api/v1/likes/check/[userId].ts
Owners: @glimpse-team/backend

Revert "fix: Vercel Hobby 플랜 12개 함수 제한 해결"
  server/api/db-migrate.ts
  server/api/db-status.ts
  server/api/groups.ts
  server/api/health.ts
  server/api/index.ts
  server/api/v1/db-migrate.ts
  server/api/v1/db-status.ts
  server/api/v1/likes/check/[userId].ts
Owners: @glimpse-team/backend

refactor: Vercel Functions에서 NestJS 단일 서버로 전환
  server/api/db-migrate.ts
  server/api/db-status.ts
  server/api/groups.ts
  server/api/health.ts
  server/api/index.ts
  server/api/v1/contents.ts
  server/api/v1/db-migrate.ts
  server/api/v1/db-status.ts
  server/api/v1/groups.ts
  server/api/v1/health.ts
  server/api/v1/index.ts
  server/api/v1/likes.ts
  server/api/v1/likes/check/[userId].ts
  server/api/v1/likes/received.ts
  server/api/v1/likes/sent.ts
  server/api/v1/likes/status.ts
  server/api/v1/matching.ts
  server/api/v1/matching/matches.ts
  server/api/v1/matching/recommendations.ts
  server/src/main.ts
  server/src/types/global.d.ts
  server/vercel.json
Owners: @glimpse-team/backend

fix: Vercel 배포용 NestJS Express 어댑터 수정
  server/api/index.ts
Owners: @glimpse-team/backend

feat: Vercel 배포 환경 설정 및 Clerk 인증 통합
  mobile/.env
  server/.env
  server/.gitignore
  server/api/index.ts
  server/integration-test.sh
  server/setup-vercel-env.sh
  server/src/app.module.ts
  server/src/types/global.d.ts
  server/test-all-apis.sh
  server/test-clerk-auth.js
  server/vercel-database-setup.md
  server/vercel-test.md
Owners: @glimpse-team/mobile, @glimpse-team/backend, @glimpse-team/documentation

fix: Vercel 배포 오류 해결 - AWS S3 필수 요구사항 제거
  server/src/file/file.service.ts
Owners: @glimpse-team/backend

fix: Vercel 서버리스 함수 오류 처리 개선
  server/api/index.ts
Owners: @glimpse-team/backend

feat: 민감한 환경변수 보안 시스템 구현 및 AWS 의존성 제거
  admin/package.json
  server/.env
  server/.env.secrets.example
  server/.gitignore
  server/deployment-status.md
  server/package.json
  server/scripts/load-env.js
  server/src/config/env.config.ts
  server/src/file/file.service.ts
  server/src/main.ts
  server/test-clerk-integration.js
Owners: @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/documentation

.github/CODEOWNERS:

# Code Owners for Glimpse Monorepo
# These owners will be the default owners for everything in the repo.

# Global Owners
* @glimpse-team/core-developers

# Backend
/server/ @glimpse-team/backend
/server/src/controllers/ @glimpse-team/backend-senior
/server/src/services/PaymentService.ts @glimpse-team/payments @glimpse-team/security
/server/src/services/AuthService.ts @glimpse-team/security
/server/src/services/EncryptionService.ts @glimpse-team/security
/server/prisma/ @glimpse-team/backend-senior @glimpse-team/dba

# Frontend - Mobile
/mobile/ @glimpse-team/mobile
/mobile/components/ @glimpse-team/mobile @glimpse-team/ux
/mobile/screens/ @glimpse-team/mobile
/mobile/services/payment/ @glimpse-team/payments @glimpse-team/mobile

# Frontend - Web
/web/ @glimpse-team/frontend
/web/components/ @glimpse-team/frontend @glimpse-team/ux
/web/pages/api/ @glimpse-team/backend

# Shared
/shared/ @glimpse-team/core-developers
/shared/types/ @glimpse-team/core-developers

# Infrastructure
/docker-compose*.yml @glimpse-team/devops
/Dockerfile @glimpse-team/devops
/.github/ @glimpse-team/devops
/nginx/ @glimpse-team/devops @glimpse-team/security
/monitoring/ @glimpse-team/devops
/backup/ @glimpse-team/devops @glimpse-team/dba

# Security
/.env* @glimpse-team/security
/server/src/middleware/auth.ts @glimpse-team/security
/server/src/middleware/rateLimiter.ts @glimpse-team/security
/server/src/utils/validationSchemas.ts @glimpse-team/security

# Documentation
*.md @glimpse-team/documentation
/docs/ @glimpse-team/documentation

# Tests
/tests/ @glimpse-team/qa
*.test.ts @glimpse-team/qa
*.spec.ts @glimpse-team/qa
