Repository b0ho/glimpse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/payments, @glimpse-team/security, @glimpse-team/dba, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/frontend, @glimpse-team/devops, @glimpse-team/documentation, @glimpse-team/qa

fix: 매칭 목록 로딩 문제 해결
  mobile/screens/MatchesScreen.tsx
Owners: @glimpse-team/mobile

fix: 매칭 목록 무한 로딩 완전 해결
  mobile/screens/MatchesScreen.tsx
Owners: @glimpse-team/mobile

fix: TypeScript 및 ESLint 에러 전체 해결
  eslint.config.js
  mobile/App.tsx
  mobile/components/IconWrapper.tsx
  mobile/components/premium/PaymentModal.tsx
  mobile/hooks/useNotifications.ts
  mobile/package.json
  mobile/screens/PremiumScreen.tsx
  mobile/tsconfig.json
  mobile/types/icon-fix.d.ts
  mobile/utils/mocks/encrypted-storage-web-mock.js
  mobile/utils/mocks/stripe-web-mock.js
  mobile/utils/mocks/webrtc-web-mock.js
  package-lock.json
  package.json
  server/eslint.config.mjs
  server/src/admin/admin.controller.ts
  server/src/admin/guards/admin.guard.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/guards/auth.guard.ts
  server/src/chat/chat.service.ts
  server/src/content-filter/content-filter.service.ts
  server/src/core/firebase/firebase.service.ts
  server/src/payment/payment-retry.service.ts
  server/src/payment/payment.service.ts
  server/src/video-call/video-call.service.ts
  server/tsconfig.json
  web/package.json
Owners: @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/backend, @glimpse-team/frontend

feat: 로컬 개발 환경 자동화 스크립트 추가
  LOCAL_DEV_GUIDE.md
  LOCAL_DEV_SETUP.md
  mobile/navigation/AppNavigator.tsx
  scripts/README.md
  scripts/init-local-dev.sh
  scripts/reset-local-dev.sh
  scripts/start-local-dev.sh
  scripts/stop-local-dev.sh
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/core-developers

fix: 로컬 개발 환경에서 Clerk 인증 및 CallProvider 오류 해결
  mobile/App.tsx
  mobile/components/premium/PaymentModal.tsx
  mobile/screens/MatchesScreen.tsx
  mobile/screens/PremiumScreen.tsx
  mobile/screens/WhoLikesYouScreen.tsx
Owners: @glimpse-team/mobile, @glimpse-team/ux

fix: 개발 모드 JWT 인증 및 닉네임 수정 기능 수정
  mobile/config/dev.config.ts
  mobile/hooks/useDevAuth.ts
  package-lock.json
  server/src/auth/strategies/jwt.strategy.ts
Owners: @glimpse-team/mobile, @glimpse-team/core-developers, @glimpse-team/backend

fix: HomeScreen 로딩 무한루프 및 GroupsScreen API 무한 호출 문제 해결
  mobile/screens/GroupsScreen.tsx
  mobile/screens/HomeScreen.tsx
  mobile/screens/WhoLikesYouScreen.tsx
  mobile/services/api/contentApi.ts
  mobile/services/api/matchApi.ts
  rules/aws-s3.mdc
  rules/aws.md
  rules/axios.mdc
  rules/clerk.md
  rules/css.md
  rules/docker.md
  rules/eslint.md
  rules/expo.md
  rules/express.md
  rules/firebase.md
  rules/git.md
  rules/jest.mdc
  rules/kubernetes.md
  rules/nestjs.mdc
  rules/next-js.mdc
  rules/notion-api.md
  rules/playwright.md
  rules/postgresql.md
  rules/prisma.mdc
  rules/react-native.md
  rules/react.md
  rules/redis.md
  rules/root.md
  rules/sentry.mdc
  rules/shadcn.md
  rules/socket-io.md
  rules/stripe.mdc
  rules/tailwind.md
  rules/typescript.md
  rules/vite.md
  rules/zustand.md
  scripts/reset-local-dev.sh
  server/prisma/seed.ts
Owners: @glimpse-team/mobile, @glimpse-team/core-developers, @glimpse-team/documentation, @glimpse-team/backend-senior, @glimpse-team/dba

feat: 로컬 개발 환경 JWT 인증 시스템 개선
  mobile/hooks/useDevAuth.ts
  mobile/services/api/config.ts
Owners: @glimpse-team/mobile

fix: 닉네임 수정 및 프로필 화면 TypeScript 오류 해결
  mobile/components/modals/EditNicknameModal.tsx
  mobile/screens/CreateGroupScreen.tsx
  mobile/screens/MatchesScreen.tsx
  mobile/screens/ProfileScreen.tsx
Owners: @glimpse-team/mobile, @glimpse-team/ux

feat: 그룹 관리 API 시스템 구현 및 JWT 인증 개선
  mobile/services/api/groupApi.ts
  server/src/auth/strategies/jwt.strategy.ts
  server/src/group/group.controller.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend

deps: 서버 및 프로젝트 의존성 업데이트
  package-lock.json
  server/package.json
Owners: @glimpse-team/core-developers, @glimpse-team/backend

docs: 프로젝트 문서 및 가이드 업데이트
  CLAUDE.md
  docs/INDEX.md
Owners: @glimpse-team/documentation

refactor: seed.ts를 migrate-mockdata.ts로 교체하여 앱 목데이터 DB 마이그레이션 시스템 구축
  package.json
  scripts/reset-local-dev.sh
  server/package.json
  server/prisma/migrate-mockdata.ts
  server/prisma/seed.ts
Owners: @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba

feat: 모든 화면 실제 DB 연동 및 API 인증 시스템 구현
  mobile/components/ContentItem.tsx
  mobile/screens/HomeScreen.tsx
  mobile/screens/MatchesScreen.tsx
  mobile/screens/WhoLikesYouScreen.tsx
  mobile/services/api/config.ts
  server/generate-dev-token.js
  server/src/app.module.ts
  server/src/auth/guards/auth.guard.ts
  server/src/content/content.controller.ts
  server/src/content/content.module.ts
  server/src/content/content.service.ts
  server/src/group/group.controller.ts
  server/src/user/user.controller.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/backend

chore: 불필요한 파일 및 폴더 정리
  server/mobile/utils/mocks/stripe-web-mock.js
  server/prisma/schema-instant-auto-match.prisma
  server/prisma/schema-instant-meeting-revised.prisma
  server/prisma/schema-instant-meeting.prisma
  server/src/admin/admin.controller.spec.ts
  server/src/admin/admin.service.spec.ts
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.service.spec.ts
  server/src/chat/chat.controller.spec.ts
  server/src/chat/chat.service.spec.ts
  server/src/content-filter/content-filter.service.spec.ts
  server/src/core/prisma/prisma.service.spec.ts
  server/src/file/file.controller.spec.ts
  server/src/file/file.service.spec.ts
  server/src/group/group.controller.spec.ts
  server/src/group/group.service.spec.ts
  server/src/location/location.controller.spec.ts
  server/src/location/location.service.spec.ts
  server/src/matching/matching.controller.spec.ts
  server/src/matching/matching.service.spec.ts
  server/src/notification/notification.controller.spec.ts
  server/src/notification/notification.service.spec.ts
  server/src/payment/payment.controller.spec.ts
  server/src/payment/payment.service.spec.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.service.spec.ts
  server/src/video-call/video-call.controller.spec.ts
  server/src/video-call/video-call.service.spec.ts
  web/__tests__/api.test.js
Owners: @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/qa, @glimpse-team/frontend

feat: API 보안 강화 및 E2E 테스트 구현
  server/package.json
  server/src/app.module.ts
  server/src/common/decorators/sanitize.decorator.ts
  server/src/common/filters/http-exception.filter.ts
  server/src/common/guards/sql-injection.guard.ts
  server/src/common/interceptors/sanitize.interceptor.ts
  server/src/main.ts
  server/src/user/dto/update-user.dto.ts
  tests/e2e/api-scenario.spec.ts
  tests/e2e/clerk-auth-scenario.spec.ts
  tests/e2e/full-scenario.spec.ts
Owners: @glimpse-team/backend, @glimpse-team/qa

chore: 테스트 의존성 추가 및 코드 포맷팅
  package-lock.json
  package.json
  server/src/content/content.controller.ts
  server/src/content/content.module.ts
  server/src/content/content.service.ts
Owners: @glimpse-team/core-developers, @glimpse-team/backend

fix: 보안 취약점 종합 개선 및 강화
  server/.env.example
  server/src/auth/guards/auth.guard.ts
  server/src/chat/chat.gateway.ts
  server/src/common/filters/http-exception.filter.ts
  server/src/common/guards/sql-injection.guard.ts
  server/src/common/interceptors/sanitize.interceptor.ts
  server/src/config/security.config.ts
  server/src/file/file.service.ts
  server/src/main.ts
Owners: @glimpse-team/backend

fix: 개발 환경 API 연결 문제 해결 및 보안 개선
  CLAUDE.md
  mobile/screens/GroupsScreen.tsx
  mobile/services/api/config.ts
  server/package.json
  server/src/core/cache/cache.service.ts
  server/src/core/encryption/encryption.service.ts
  server/src/file/file.service.ts
  server/src/location/location.controller.ts
  server/src/main.ts
  server/src/payment/payment.service.ts
  server/src/video-call/video-call.controller.ts
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/backend

fix: React Native TypeScript 에러 해결
  mobile/components/premium/PaymentModal.tsx
  mobile/config/dev.config.ts
  mobile/hooks/useDevAuth.ts
  mobile/navigation/AppNavigator.tsx
  mobile/package.json
  mobile/screens/HomeScreen.tsx
  mobile/screens/LocationGroupScreen.tsx
  mobile/screens/MapScreen.tsx
  mobile/screens/NearbyUsersScreen.tsx
  mobile/screens/NotificationSettingsScreen.tsx
  mobile/tsconfig.json
  package-lock.json
  package.json
Owners: @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/core-developers

fix: React Navigation TypeScript 에러 완전 해결
  mobile/navigation/AppNavigator.tsx
Owners: @glimpse-team/mobile

feat: GitHub Actions CI/CD 파이프라인 구성
  .github/workflows/ci.yml
  server/.env.example
Owners: @glimpse-team/devops, @glimpse-team/backend

fix: GitHub Actions 배포 실패 해결
  docker-compose.prod.yml
  docker-compose.yml
  monitoring/prometheus.yml
  nginx/nginx.conf
  server/Dockerfile
  server/src/app.controller.ts
Owners: @glimpse-team/devops, @glimpse-team/security, @glimpse-team/backend

fix: Docker 파일 중복 제거 및 경로 수정
  .github/workflows/cd.yml
  .github/workflows/deploy.yml
  docker-compose.prod.yml
  docker-compose.yml
  server/Dockerfile
Owners: @glimpse-team/devops, @glimpse-team/backend

fix: GitHub Actions 및 Dependabot 오류 해결
  .github/dependabot.yml
  .github/workflows/ci.yml
Owners: @glimpse-team/devops

fix: Dependabot 오류 완전 해결
  .github/workflows/e2e.yml
  .github/workflows/mobile-build.yml
  .github/workflows/security.yml
Owners: @glimpse-team/devops

feat: 환경 변수 관리 시스템 구축
  .env.defaults
  .gitignore
  config/README.md
  config/env-loader.js
  config/examples/secrets.env.example
  config/public/api.config.js
  config/public/app.config.js
  config/public/mobile.config.js
Owners: @glimpse-team/security, @glimpse-team/core-developers, @glimpse-team/documentation

fix: 환경 변수 시스템 통합 완료
  config/README.md
  mobile/app.config.js
  mobile/app.json
  server/src/app.module.ts
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/backend

refactor: 환경 변수 관리 시스템 통합 - 공개 설정과 비밀키 분리
  .gitignore
  mobile/.env
  server/.env
Owners: @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/backend

refactor: 모바일 환경변수 수정 및 .gitignore 통합 정리
  .gitignore
  mobile/.env
  mobile/app.config.js
  mobile/tsconfig.json
  server/tsconfig.json
Owners: @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/backend

fix: 서버 컴파일 및 데이터베이스 연결 문제 해결
  mobile/.gitignore
  server/eslint.config.mjs
  server/tsconfig.json
Owners: @glimpse-team/mobile, @glimpse-team/backend

fix: API 포트 불일치 문제 해결 (8080 → 3001)
  .env
Owners: @glimpse-team/security

fix: 데이터베이스 계정 통일 및 환경 설정 스크립트 개선
  SETUP.md
  scripts/init-local-dev.sh
  scripts/reset-local-dev.sh
  server/.env.example
Owners: @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/backend

fix: reset-local-dev.sh 스크립트 오류 수정
  scripts/reset-local-dev.sh
  server/package.json
  server/src/auth/auth.module.ts
Owners: @glimpse-team/core-developers, @glimpse-team/backend

feat: 프로필 화면 전체 다국어 지원 완료
  mobile/components/modals/EditNicknameModal.tsx
  mobile/components/profile/ProfileHeader.tsx
  mobile/locales/en/profile.json
  mobile/locales/en/settings.json
  mobile/locales/ko/profile.json
  mobile/locales/ko/settings.json
  mobile/screens/ProfileScreen.tsx
  mobile/screens/ProfileSettingsScreen.tsx
Owners: @glimpse-team/mobile, @glimpse-team/ux

feat: CreateGroupScreen 다국어 지원 및 영어 테스트 데이터 추가
  server/package.json
  server/src/scripts/seed-english-data.ts
Owners: @glimpse-team/backend

feat: 모바일 앱 전체 다국어 지원 및 테스트 데이터 완료
  mobile/locales/en/common.json
  mobile/locales/en/group.json
  mobile/locales/en/matching.json
  mobile/locales/en/navigation.json
  mobile/locales/en/premium.json
  mobile/locales/en/profile.json
  mobile/locales/en/settings.json
  mobile/locales/ko/chat.json
  mobile/locales/ko/common.json
  mobile/locales/ko/group.json
  mobile/locales/ko/matching.json
  mobile/locales/ko/navigation.json
  mobile/locales/ko/premium.json
  mobile/locales/ko/settings.json
  mobile/navigation/AppNavigator.tsx
  mobile/screens/CreateContentScreen.tsx
  mobile/screens/CreateGroupScreen.tsx
  mobile/screens/GroupsScreen.tsx
  mobile/screens/LikeHistoryScreen.tsx
  mobile/screens/NotificationSettingsScreen.tsx
  mobile/screens/WhoLikesYouScreen.tsx
  mobile/services/i18n/i18n.ts
  mobile/utils/mockData/englishData.ts
  tests/e2e/setup/test-data-en.ts
Owners: @glimpse-team/mobile, @glimpse-team/qa

fix: 다국어 지원 누락 부분 수정 및 홈화면 콘텐츠 표시 문제 해결
  mobile/App.tsx
  mobile/locales/en/common.json
  mobile/locales/ko/auth.json
  mobile/locales/ko/common.json
  mobile/providers/CallProvider.tsx
  mobile/screens/HomeScreen.tsx
  mobile/screens/auth/CompanyVerificationScreen.tsx
  mobile/screens/auth/NicknameSetupScreen.tsx
  mobile/screens/auth/SMSVerificationScreen.tsx
  mobile/screens/instant/JoinInstantMeetingScreen.tsx
  mobile/utils/dateUtils.ts
Owners: @glimpse-team/mobile

feat: 모바일 앱 나머지 컴포넌트 다국어 지원 완료
  mobile/components/DevModePanel.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/call/IncomingCallModal.tsx
  mobile/components/chat/MessageBubble.tsx
  mobile/components/chat/MessageInput.tsx
  mobile/components/chat/VoiceMessageRecorder.tsx
  mobile/components/story/StoryList.tsx
  mobile/components/story/StoryViewer.tsx
  mobile/locales/en/call.json
  mobile/locales/en/chat.json
  mobile/locales/en/common.json
  mobile/locales/en/dev.json
  mobile/locales/en/story.json
  mobile/locales/ko/call.json
  mobile/locales/ko/chat.json
  mobile/locales/ko/common.json
  mobile/locales/ko/dev.json
  mobile/locales/ko/story.json
  mobile/services/i18n/i18n.ts
  mobile/services/storyService.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux

feat: 인스타그램 스타일 스토리 기능 및 게시물 그룹명 표시 구현
  mobile/components/ContentItem.tsx
  mobile/components/story/StoryFullViewer.tsx
  mobile/components/story/StoryList.tsx
  mobile/navigation/AppNavigator.tsx
  mobile/screens/CreateContentScreen.tsx
  mobile/screens/CreateStoryScreen.tsx
  mobile/screens/HomeScreen.tsx
  mobile/utils/storyData.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux

.github/CODEOWNERS:

# Code Owners for Glimpse Monorepo
# These owners will be the default owners for everything in the repo.

# Global Owners
* @glimpse-team/core-developers

# Backend
/server/ @glimpse-team/backend
/server/src/controllers/ @glimpse-team/backend-senior
/server/src/services/PaymentService.ts @glimpse-team/payments @glimpse-team/security
/server/src/services/AuthService.ts @glimpse-team/security
/server/src/services/EncryptionService.ts @glimpse-team/security
/server/prisma/ @glimpse-team/backend-senior @glimpse-team/dba

# Frontend - Mobile
/mobile/ @glimpse-team/mobile
/mobile/components/ @glimpse-team/mobile @glimpse-team/ux
/mobile/screens/ @glimpse-team/mobile
/mobile/services/payment/ @glimpse-team/payments @glimpse-team/mobile

# Frontend - Web
/web/ @glimpse-team/frontend
/web/components/ @glimpse-team/frontend @glimpse-team/ux
/web/pages/api/ @glimpse-team/backend

# Shared
/shared/ @glimpse-team/core-developers
/shared/types/ @glimpse-team/core-developers

# Infrastructure
/docker-compose*.yml @glimpse-team/devops
/Dockerfile @glimpse-team/devops
/.github/ @glimpse-team/devops
/nginx/ @glimpse-team/devops @glimpse-team/security
/monitoring/ @glimpse-team/devops
/backup/ @glimpse-team/devops @glimpse-team/dba

# Security
/.env* @glimpse-team/security
/server/src/middleware/auth.ts @glimpse-team/security
/server/src/middleware/rateLimiter.ts @glimpse-team/security
/server/src/utils/validationSchemas.ts @glimpse-team/security

# Documentation
*.md @glimpse-team/documentation
/docs/ @glimpse-team/documentation

# Tests
/tests/ @glimpse-team/qa
*.test.ts @glimpse-team/qa
*.spec.ts @glimpse-team/qa
