Repository b0ho/glimpse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/payments, @glimpse-team/security, @glimpse-team/dba, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/frontend, @glimpse-team/devops, @glimpse-team/documentation, @glimpse-team/qa

feat: Prometheus 모니터링 및 Grafana 대시보드 구성
  monitoring/alertmanager.yml
  monitoring/grafana-dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/datasource.yml
  monitoring/prometheus-alerts.yml
  monitoring/setup-grafana.sh
  package-lock.json
  server/package.json
  server/src/index.ts
  server/src/middleware/security.ts
  server/src/services/AuthService.ts
  server/src/services/MatchingService.ts
  server/src/services/PaymentService.ts
  server/src/utils/monitoring.ts
Owners: @glimpse-team/devops, @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/security, @glimpse-team/payments

feat: 프로덕션 레벨 SMS 서비스 구현 완료
  .env.example
  package-lock.json
  package.json
  server/jest.config.js
  server/prisma/schema.prisma
  server/src/config/env.ts
  server/src/routes/admin.ts
  server/src/services/SMSService.ts
  server/src/utils/monitoring.ts
  server/tests/services/SMSService.test.ts
Owners: @glimpse-team/security, @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/qa

feat: 결제 시스템 안정성 및 재시도 로직 구현
  server/src/middleware/idempotency.ts
  server/src/routes/payments.ts
  server/src/services/CacheService.ts
  server/src/services/CronService.ts
  server/src/services/PaymentRetryService.ts
Owners: @glimpse-team/backend

feat: 그룹 생성 및 초대 기능 구현
  mobile/navigation/AppNavigator.tsx
  mobile/screens/CreateGroupScreen.tsx
  mobile/screens/GroupInviteScreen.tsx
  mobile/screens/JoinGroupScreen.tsx
  mobile/services/api/groupApi.ts
  server/prisma/schema.prisma
  server/src/controllers/GroupController.ts
  server/src/routes/groups.ts
  server/src/services/GroupService.ts
  shared/utils/index.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend, @glimpse-team/core-developers

feat: 그룹 가입 승인/거절 기능 구현
  mobile/navigation/AppNavigator.tsx
  mobile/screens/GroupManageScreen.tsx
  mobile/services/api/groupApi.ts
  server/src/controllers/GroupController.ts
  server/src/routes/groups.ts
  server/src/services/GroupService.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/backend

feat: Socket.IO 실시간 채팅 기능 개선 및 보안 강화
  mobile/services/chat/chatService.ts
  mobile/services/encryptionService.ts
  mobile/store/slices/chatSlice.ts
  server/src/socket/chatSocket.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend

feat: FCM 푸시 알림 시스템 구현 완료
  mobile/navigation/AppNavigator.tsx
  mobile/screens/NotificationSettingsScreen.tsx
  mobile/services/api/notificationApi.ts
  mobile/services/navigation/navigationService.ts
  mobile/services/notifications/fcmService.ts
  mobile/services/notifications/initializeFCM.ts
  server/src/controllers/UserController.ts
  server/src/index.ts
  server/src/routes/notificationRoutes.ts
  server/src/routes/users.ts
  server/src/services/FirebaseService.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/backend

feat: 성능 최적화 및 보안 강화 구현
  server/prisma/schema.prisma
  server/src/middleware/specificRateLimiters.ts
  server/src/routes/payments.ts
  server/src/routes/storyRoutes.ts
  server/src/routes/users.ts
  server/src/services/ChatService.ts
  server/src/services/FileUploadService.ts
  server/src/services/LikeService.ts
  server/src/services/MatchingService.ts
  server/src/services/PaymentService.ts
  server/src/services/UserService.ts
Owners: @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend, @glimpse-team/payments, @glimpse-team/security

feat: 추가 보안 강화 및 코드 품질 개선
  server/src/index.ts
  server/src/services/PaymentService.ts
  server/src/socket/chatSocket.ts
  server/src/utils/inputValidation.ts
  server/src/utils/securityUtils.ts
Owners: @glimpse-team/backend, @glimpse-team/payments, @glimpse-team/security

feat: 실시간 기능 안정성 강화 완료
  mobile/services/chat/socketService.ts
  mobile/store/slices/chatSlice.ts
  server/src/services/MessageQueueService.ts
  server/src/services/NotificationService.ts
  server/src/socket/chatSocket.ts
  server/src/utils/monitoring.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend

feat: 성능 최적화 - 이미지 압축 및 CDN 설정 완료
  mobile/components/common/OptimizedImage.tsx
  mobile/package.json
  mobile/services/api/config.ts
  mobile/services/chat/chatService.ts
  mobile/services/imageCacheService.ts
  package-lock.json
  package.json
  server/.env.example
  server/src/config/cloudfront.ts
  server/src/services/FileUploadService.ts
  shared/utils/index.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/core-developers, @glimpse-team/backend

feat: 서버 단위 테스트 추가 - UserService, MatchingService, ChatService 등
  server/src/controllers/__tests__/MatchController.test.ts
  server/src/controllers/__tests__/UserController.test.ts
  server/src/services/__tests__/ChatService.test.ts
  server/src/services/__tests__/EncryptionService.test.ts
  server/src/services/__tests__/GroupService.test.ts
  server/src/services/__tests__/LikeService.test.ts
  server/src/services/__tests__/MatchingService.test.ts
  server/src/services/__tests__/NotificationService.test.ts
  server/src/services/__tests__/PaymentService.test.ts
  server/src/services/__tests__/UserService.test.ts
Owners: @glimpse-team/qa

feat: Docker 컨테이너 및 배포 환경 구성 완료
  .env.production.example
  .github/workflows/ci.yml
  DEPLOYMENT.md
  Dockerfile.server
  monitoring/prometheus.yml
  nginx/nginx.conf
  scripts/deploy.sh
  server/Dockerfile
  web/Dockerfile
Owners: @glimpse-team/security, @glimpse-team/devops, @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/backend, @glimpse-team/frontend

feat: 즉석 모임 기능 설계 및 구현
  ANONYMOUS_PROFILE_SYSTEM.md
  FEATURE_MATCHING_ALGORITHM.md
  FIGMA_DESIGN_SYSTEM.md
  FIGMA_STRUCTURE.md
  INSTANT_MEETING_API.md
  INSTANT_MEETING_FEATURE.md
  INSTANT_MEETING_REVISED.md
  INSTANT_MEETING_UI_DESIGN.md
  SCREEN_SPECIFICATIONS.md
  USER_SCENARIOS.md
  figma-component-generator.js
  figma-screens.json
  figma-tokens.json
  mobile/screens/instant/ExpressInterestScreen.tsx
  mobile/screens/instant/InstantMeetingScreen.tsx
  server/prisma/migrations/add_instant_meeting.sql
  server/prisma/schema-instant-meeting-revised.prisma
  server/prisma/schema-instant-meeting.prisma
  server/src/services/InstantMatchingService.ts
Owners: @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend

feat: 즉석 모임 자동 매칭 기능 구현
  INSTANT_MEETING_AUTO_MATCH.md
  mobile/screens/instant/ExpressInterestScreen.tsx
  mobile/screens/instant/InstantMeetingScreen.tsx
  mobile/screens/instant/JoinInstantMeetingScreen.tsx
  mobile/store/instantMeetingStore.ts
  mobile/types/navigation.ts
  mobile/utils/constants/index.ts
  mobile/utils/constants/styles.ts
  server/prisma/schema-instant-auto-match.prisma
  server/src/services/InstantAutoMatchingService.ts
  server/src/services/LikeService.ts
  src/utils/mocks/stripe-web-mock.js
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend, @glimpse-team/core-developers

refactor: 대용량 파일 및 복잡한 함수 모듈화
  mobile/screens/NearbyUsersScreen.refactored.tsx
  mobile/screens/nearby/components/LocationHeader.tsx
  mobile/screens/nearby/components/LocationPermissionView.tsx
  mobile/screens/nearby/components/RadiusSelector.tsx
  mobile/screens/nearby/components/UserCard.tsx
  mobile/screens/nearby/hooks/useLocation.ts
  mobile/screens/nearby/hooks/useNearbyUsers.ts
  mobile/store/slices/like/actions.ts
  mobile/store/slices/like/selectors.ts
  mobile/store/slices/like/types.ts
  mobile/store/slices/like/utils.ts
  mobile/store/slices/likeSlice.refactored.ts
  server/src/services/EmailService.refactored.ts
  server/src/services/PaymentService.refactored.ts
  server/src/services/email/providers/DevelopmentProvider.ts
  server/src/services/email/providers/SESProvider.ts
  server/src/services/email/providers/SMTPProvider.ts
  server/src/services/email/providers/SendGridProvider.ts
  server/src/services/email/providers/index.ts
  server/src/services/email/templates/MatchTemplate.ts
  server/src/services/email/templates/VerificationTemplate.ts
  server/src/services/email/templates/WelcomeTemplate.ts
  server/src/services/email/templates/index.ts
  server/src/services/email/types.ts
  server/src/services/payment/providers/KakaoPayProvider.ts
  server/src/services/payment/providers/StripeProvider.ts
  server/src/services/payment/providers/TossPayProvider.ts
  server/src/services/payment/providers/index.ts
  server/src/services/payment/types.ts
  server/src/services/payment/validators.ts
  shared/utils/crypto.ts
  shared/utils/date.ts
  shared/utils/index.ts
  shared/utils/location.ts
  shared/utils/validation.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend, @glimpse-team/core-developers

feat: 친구찾기 모드 추가 - 커뮤니티 및 단체 채팅 기능
  mobile/navigation/AppNavigator.tsx
  mobile/screens/ModeSelectionScreen.tsx
  mobile/screens/community/CommunityScreen.tsx
  mobile/screens/groupchat/GroupChatListScreen.tsx
  mobile/store/slices/authSlice.ts
  mobile/utils/constants/index.ts
  mobile/utils/dateUtils.ts
  server/prisma/schema.prisma
  shared/types/index.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/core-developers

feat: 프로필 페이지 고도화 - 좋아요/친구 요청 관리 기능 추가
  mobile/components/modals/EditNicknameModal.tsx
  mobile/navigation/AppNavigator.tsx
  mobile/screens/DeleteAccountScreen.tsx
  mobile/screens/LikeHistoryScreen.tsx
  mobile/screens/NotificationSettingsScreen.tsx
  mobile/screens/ProfileScreen.tsx
  mobile/services/api/authService.ts
  mobile/store/slices/authSlice.ts
  mobile/store/slices/likeSlice.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux

feat: 서버 API 및 데이터베이스 스키마 업데이트 - 프로필 고도화 지원
  server/prisma/schema.prisma
  server/src/controllers/UserController.ts
  server/src/routes/users.ts
  server/src/services/UserService.ts
Owners: @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend

feat: 프로필 페이지 고도화 - 좋아요/친구 요청 관리 기능 추가
  mobile/components/profile/FriendRequestsModal.tsx
  mobile/components/profile/LikesReceivedModal.tsx
  mobile/components/profile/ProfileHeader.tsx
  mobile/components/profile/ProfileInfoCards.tsx
  mobile/screens/ProfileScreenV2.tsx
  mobile/screens/ProfileSettingsScreen.tsx
  mobile/services/profile/profileService.ts
  mobile/store/slices/profileSlice.ts
  server/prisma/schema.prisma
  server/src/controllers/FriendController.ts
  server/src/controllers/UserController.ts
  server/src/index.ts
  server/src/routes/friends.ts
  server/src/routes/users.ts
  shared/types/index.ts
Owners: @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/backend, @glimpse-team/core-developers

refactor: 환경설정 파일 정리 및 문서화
  .prettierrc.json
  CONFIG_FILES.md
  config/README.md
  config/env-examples/.env.docker.example
  config/env-examples/.env.example
  config/env-examples/.env.production.example
  tests/playwright.config.ts
Owners: @glimpse-team/core-developers, @glimpse-team/documentation, @glimpse-team/qa

docs: 포괄적인 프로젝트 문서화 추가 및 개선
  CONTRIBUTING.md
  docs/WEB_ADMIN_DASHBOARD.md
  docs/api/API_DOCUMENTATION.md
  docs/deployment/DEPLOYMENT.md
  docs/guides/CI_CD_GUIDE.md
  docs/guides/DATABASE_BACKUP_RECOVERY.md
  docs/guides/DEPLOYMENT_GUIDE.md
  docs/guides/INCIDENT_RESPONSE.md
  docs/guides/MONITORING_LOGGING_GUIDE.md
  docs/guides/ONBOARDING_GUIDE.md
  docs/guides/PERFORMANCE_OPTIMIZATION_GUIDE.md
  docs/guides/TESTING_GUIDE.md
Owners: @glimpse-team/documentation

docs: mobile/screens 디렉토리의 주요 화면들에 한글 JSDoc 문서화 추가
  mobile/screens/ChatScreen.tsx
  mobile/screens/CreateGroupScreen.tsx
  mobile/screens/GroupsScreen.tsx
  mobile/screens/HomeScreen.tsx
  mobile/screens/LocationGroupScreen.tsx
  mobile/screens/MatchesScreen.tsx
  mobile/screens/PremiumScreen.tsx
  mobile/screens/ProfileScreen.tsx
  mobile/screens/auth/AuthScreen.tsx
Owners: @glimpse-team/mobile

docs: mobile/services/api 및 chat 디렉토리 한글 JSDoc 도큐멘테이션 추가
  mobile/services/api/authService.ts
  mobile/services/api/config.ts
  mobile/services/api/groupApi.ts
  mobile/services/api/notificationApi.ts
  mobile/services/api/user-service.ts
  mobile/services/chat/chatService.ts
  mobile/services/chat/socketService.ts
  mobile/services/chat/websocket-service.ts
Owners: @glimpse-team/mobile

docs: mobile/services 디렉토리 추가 파일들 한글 JSDoc 도큐멘테이션 추가
  mobile/services/audioService.ts
  mobile/services/callService.ts
  mobile/services/encryptionService.ts
Owners: @glimpse-team/mobile

docs: mobile/services 디렉토리 추가 파일들에 한글 JSDoc 도큐멘테이션 추가
  mobile/services/auth/auth-service.ts
  mobile/services/auth/clerk-config.ts
  mobile/services/location/location-service.ts
  mobile/services/notificationService.ts
  mobile/services/payment/premium-service.ts
  mobile/services/webrtcService.ts
Owners: @glimpse-team/mobile, @glimpse-team/payments

docs: mobile/services 디렉토리 추가 파일들에 한글 JSDoc 도큐멘테이션 추가 (2차)
  mobile/services/companyVerificationService.ts
  mobile/services/locationService.ts
  mobile/services/storyService.ts
Owners: @glimpse-team/mobile

docs: mobile/services 디렉토리 추가 파일들에 한글 JSDoc 도큐멘테이션 추가 (3차)
  mobile/services/imageCacheService.ts
  mobile/services/navigation/navigationService.ts
  mobile/services/notifications/fcmService.ts
  mobile/services/notifications/initializeFCM.ts
  mobile/services/profile/profileService.ts
Owners: @glimpse-team/mobile

docs: mobile/store 및 server/src/utils 디렉토리 한글 JSDoc 도큐멘테이션 추가
  mobile/services/notifications/notification-service.ts
  mobile/store/instantMeetingStore.ts
  mobile/store/slices/authSlice.ts
  mobile/store/slices/chatSlice.ts
  mobile/store/slices/groupSlice.ts
  mobile/store/slices/like/actions.ts
  mobile/store/slices/like/selectors.ts
  mobile/store/slices/like/types.ts
  mobile/store/slices/like/utils.ts
  mobile/store/slices/likeSlice.ts
  mobile/store/slices/locationSlice.ts
  mobile/store/slices/notificationSlice.ts
  mobile/store/slices/premiumSlice.ts
  mobile/store/slices/profileSlice.ts
  mobile/utils/constants/index.ts
  mobile/utils/constants/styles.ts
  mobile/utils/error.ts
  server/src/utils/inputValidation.ts
  server/src/utils/logger.ts
  server/src/utils/monitoring.ts
  server/src/utils/paymentRetry.ts
  server/src/utils/securityUtils.ts
  server/src/utils/typeConverters.ts
  server/src/utils/validation.ts
  server/src/utils/validationSchemas.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend, @glimpse-team/security

docs: 남은 파일들 한글 JSDoc 문서화 완료
  babel.config.js
  mobile/constants/theme.ts
  mobile/jest.config.js
  mobile/navigation/AppNavigator.tsx
  server/src/config/cloudfront.ts
  server/src/config/database.ts
  server/src/config/env.ts
  server/src/config/multer.ts
  server/src/config/security.ts
  server/src/config/sentry.ts
  server/src/config/swagger.ts
  server/src/config/telemetry.ts
  server/src/routes/admin.ts
  server/src/routes/auth.ts
  server/src/routes/chat.ts
  server/src/routes/companyDomain.ts
  server/src/routes/contentFilter.ts
  server/src/routes/friends.ts
  server/src/routes/groups.ts
  server/src/routes/location.ts
  server/src/routes/matches.ts
  server/src/routes/notificationRoutes.ts
  server/src/routes/notifications.ts
  server/src/routes/payments.ts
  server/src/routes/storyRoutes.ts
  server/src/routes/users.ts
  server/src/routes/videoCallRoutes.ts
  server/src/socket/chatSocket.ts
  server/src/socket/rateLimiter.ts
Owners: @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/backend

fix: 모든 TypeScript 오류 수정
  mobile/screens/NearbyUsersScreen.refactored.tsx
  mobile/screens/nearby/hooks/useNearbyUsers.ts
  mobile/services/api/authService.ts
  mobile/services/api/likeApi.ts
  mobile/services/notifications/fcmService.ts
  mobile/services/profile/profileService.ts
  mobile/store/slices/like/actions.ts
  mobile/store/slices/like/selectors.ts
  mobile/store/slices/profileSlice.ts
  server/src/controllers/GroupController.ts
  server/src/middleware/idempotency.ts
  server/src/middleware/security.ts
  server/src/routes/notificationRoutes.ts
  server/src/routes/payments.ts
  server/src/services/__tests__/EncryptionService.test.ts
Owners: @glimpse-team/mobile, @glimpse-team/backend-senior, @glimpse-team/backend, @glimpse-team/qa

fix: 추가 TypeScript 오류 수정
  server/src/__tests__/payment.test.ts
  server/src/controllers/GroupController.ts
  server/src/routes/payments.ts
  server/src/services/PaymentService.refactored.ts
  server/src/services/__tests__/GroupService.test.ts
  server/src/services/email/providers/SMTPProvider.ts
  server/src/services/payment/providers/KakaoPayProvider.ts
  server/src/services/payment/providers/StripeProvider.ts
  server/src/services/payment/providers/TossPayProvider.ts
  server/src/services/payment/validators.ts
  shared/utils/crypto.ts
  shared/utils/date.ts
Owners: @glimpse-team/qa, @glimpse-team/backend-senior, @glimpse-team/backend, @glimpse-team/core-developers

fix: TypeScript 오류 수정 및 코드 정리
  server/src/routes/payments.ts
  server/src/services/FileUploadService.ts
  server/src/services/InstantAutoMatchingService.ts.disabled
  server/src/services/InstantMatchingService.ts.disabled
  server/src/services/MatchingService.ts
  server/src/services/MessageQueueService.ts
  server/src/services/PaymentService.refactored.ts.disabled
  server/src/services/PaymentService.ts
  server/src/services/__tests__/GroupService.test.ts
  server/src/services/__tests__/LikeService.test.ts
  server/src/services/__tests__/MatchingService.test.ts
  server/src/services/__tests__/NotificationService.test.ts
  server/src/services/__tests__/PaymentService.test.ts
  server/src/services/payment/providers/StripeProvider.ts
  server/src/utils/inputValidation.ts
  server/src/utils/validationSchemas.ts
Owners: @glimpse-team/backend, @glimpse-team/payments, @glimpse-team/security, @glimpse-team/qa

chore: server 폴더의 별도 git 제거 및 root git으로 통합
  server/.gitignore
Owners: @glimpse-team/backend

refactor: NestJS 마이그레이션 완료 - 누락된 컨트롤러 및 서비스 추가
  server/src/app.module.ts
  server/src/auth/auth.guard.ts
  server/src/company-domain/company-domain.controller.ts
  server/src/company-domain/company-domain.module.ts
  server/src/company-domain/company-domain.service.ts
  server/src/content-filter/content-filter.controller.ts
  server/src/content-filter/content-filter.module.ts
  server/src/content-filter/content-filter.service.ts
  server/src/file/file.service.ts
  server/src/friend/friend.controller.ts
  server/src/friend/friend.module.ts
  server/src/friend/friend.service.ts
  server/src/matching/matching-statistics.service.ts
  server/src/matching/matching.module.ts
  server/src/payment/payment-retry.service.ts
  server/src/payment/payment.module.ts
  server/src/scripts/seed-company-domains.ts
  server/src/story/story.controller.ts
  server/src/story/story.module.ts
  server/src/story/story.service.ts
Owners: @glimpse-team/backend

feat: 포괄적인 E2E 테스트 스위트 구현 완료
  E2E_TEST_VERIFICATION_REPORT.md
  e2e/README.md
  e2e/pages/auth.page.ts
  e2e/pages/chat.page.ts
  e2e/pages/group.page.ts
  e2e/pages/matching.page.ts
  e2e/playwright-headless.config.ts
  e2e/setup/test-data.ts
  e2e/tests/accessibility.spec.ts
  e2e/tests/admin-dashboard.spec.ts
  e2e/tests/auth.spec.ts
  e2e/tests/chat.spec.ts
  e2e/tests/company-verification.spec.ts
  e2e/tests/friend.spec.ts
  e2e/tests/group.spec.ts
  e2e/tests/location-group.spec.ts
  e2e/tests/matching.spec.ts
  e2e/tests/payment.spec.ts
  e2e/tests/performance.spec.ts
  e2e/tests/push-notification.spec.ts
  e2e/tests/security.spec.ts
  e2e/tests/story.spec.ts
  metro.config.js
  package-lock.json
  package.json
  playwright.config.ts
  server/e2e/test-assets/blurry-document.jpg
  server/e2e/test-assets/employment-certificate.jpg
  server/e2e/test-assets/story-image.jpg
  server/e2e/test-assets/test-image.jpg
  server/mobile/utils/mocks/stripe-web-mock.js
  server/package.json
Owners: @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/qa, @glimpse-team/backend

feat: 개발 환경 완전 구성 및 어드민 인증 시스템 구현
  DEVELOPMENT_STATUS_REPORT.md
  PROJECT_TEST_REPORT.md
  docker/scripts/init-db.sql
  mobile/App.tsx
  mobile/app.json
  mobile/babel.config.js
  mobile/components/ErrorBoundary.tsx
  mobile/index.js
  mobile/metro.config.js
  mobile/package.json
  mobile/tsconfig.json
  mobile/utils/mocks/encrypted-storage-web-mock.js
  mobile/utils/mocks/webrtc-web-mock.js
  package-lock.json
  server/package.json
  server/prisma/migrations/20250128_add_performance_indexes/migration.sql
  server/prisma/migrations/add_instant_meeting.sql
  server/src/admin/admin.controller.ts
  server/src/admin/admin.module.ts
  server/src/admin/dto/admin-login.dto.ts
  web/src/app/admin/login/page.tsx
  web/src/app/api/admin/login/route.ts
Owners: @glimpse-team/documentation, @glimpse-team/core-developers, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/backend, @glimpse-team/backend-senior, @glimpse-team/dba, @glimpse-team/frontend

feat: 개발 모드 인증 우회 시스템 구현
  DEV_AUTH_IMPLEMENTATION.md
  MOBILE_APP_TEST_REPORT.md
  MOBILE_APP_TEST_RESULTS.md
  mobile/App.tsx
  mobile/components/DevModePanel.tsx
  mobile/config/dev.config.ts
  mobile/hooks/useDevAuth.ts
  mobile/index.js
  mobile/navigation/AppNavigator.tsx
  mobile/screens/DeleteAccountScreen.tsx
  mobile/screens/ProfileScreen.tsx
  mobile/services/api/config.ts
  mobile/web-polyfill.js
  server/src/main.ts
  server/tsconfig.json
  shared/types/index.ts
Owners: @glimpse-team/documentation, @glimpse-team/mobile, @glimpse-team/ux, @glimpse-team/backend, @glimpse-team/core-developers

feat: 개발 모드 인증 개선 및 통합 테스트 완료
  server/eslint.config.mjs
  server/src/admin/admin.controller.ts
  server/src/admin/guards/admin.guard.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/guards/auth.guard.ts
  server/tsconfig.json
  web/src/app/api/admin/dashboard/route.ts
  web/src/app/api/admin/login/route.ts
Owners: @glimpse-team/backend, @glimpse-team/frontend

fix: 매칭 목록 무한 로딩 문제 수정
  mobile/screens/MatchesScreen.tsx
Owners: @glimpse-team/mobile

.github/CODEOWNERS:

# Code Owners for Glimpse Monorepo
# These owners will be the default owners for everything in the repo.

# Global Owners
* @glimpse-team/core-developers

# Backend
/server/ @glimpse-team/backend
/server/src/controllers/ @glimpse-team/backend-senior
/server/src/services/PaymentService.ts @glimpse-team/payments @glimpse-team/security
/server/src/services/AuthService.ts @glimpse-team/security
/server/src/services/EncryptionService.ts @glimpse-team/security
/server/prisma/ @glimpse-team/backend-senior @glimpse-team/dba

# Frontend - Mobile
/mobile/ @glimpse-team/mobile
/mobile/components/ @glimpse-team/mobile @glimpse-team/ux
/mobile/screens/ @glimpse-team/mobile
/mobile/services/payment/ @glimpse-team/payments @glimpse-team/mobile

# Frontend - Web
/web/ @glimpse-team/frontend
/web/components/ @glimpse-team/frontend @glimpse-team/ux
/web/pages/api/ @glimpse-team/backend

# Shared
/shared/ @glimpse-team/core-developers
/shared/types/ @glimpse-team/core-developers

# Infrastructure
/docker-compose*.yml @glimpse-team/devops
/Dockerfile @glimpse-team/devops
/.github/ @glimpse-team/devops
/nginx/ @glimpse-team/devops @glimpse-team/security
/monitoring/ @glimpse-team/devops
/backup/ @glimpse-team/devops @glimpse-team/dba

# Security
/.env* @glimpse-team/security
/server/src/middleware/auth.ts @glimpse-team/security
/server/src/middleware/rateLimiter.ts @glimpse-team/security
/server/src/utils/validationSchemas.ts @glimpse-team/security

# Documentation
*.md @glimpse-team/documentation
/docs/ @glimpse-team/documentation

# Tests
/tests/ @glimpse-team/qa
*.test.ts @glimpse-team/qa
*.spec.ts @glimpse-team/qa
